<!DOCTYPE html>

<html lang="fr" th:replace="~{fragments/layout :: layout (~{::body},'apps')}" xmlns:th="https://www.thymeleaf.org">

<body>

<h2>Liste des applications</h2>

<table class="table table-striped" id="apps">
    <thead>
    <tr>
        <th scope="col">N°</th>
        <th scope="col">Titre</th>
        <th scope="col">Client ID</th>
        <th scope="col">Type Auth.</th>
        <th scope="col">Flux d'authentification</th>
        <th colspan="2" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="app,iterStat : ${selections}">
        <td th:text="${iterStat.count}"></td>
        <td>
            <a alt="Editer" th:href="@{/apps/__${app.clientId}__}" th:text="${app.title}"/></a>
        </td>
        <td th:text="${app.clientId}"/>
        <td th:text="${'Azure ' + app.authenticationType}"/>
        <td th:text="${app.policySignUpSignIn}"/>
        <td>
            <a alt="Se connecter a l'application" target="_blank" th:href="${app.loginURL}"
               th:text="${'Ouvrir >>'}">
            </a>
        </td>
        <td>
            <a alt="Supprimer" th:href="@{/apps/remove?appid=__${app.clientId}__}">
                <img class="img-responsive" src="../static/resources/images/remove.png"
                     th:src="@{/resources/images/remove.png}"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>

  <br />
  <a class="btn btn-default" th:href="@{/apps/new}">Ajouter une application</a>

  </body>
</html>
